.headerChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-300);
  width: 332px;
  height: 1024px;
}
.betWiseKenya,
.bwk {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 279px;
  height: 61.41px;
}
.betWiseKenya {
  top: 47.5px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  width: 138.99px;
  height: 31.28px;
}
.dashboard,
.logo,
.userManagement {
  position: absolute;
  top: 23px;
  left: 34px;
  width: 279px;
  height: 78.79px;
  cursor: pointer;
}
.dashboard,
.userManagement {
  top: 0;
  left: 50px;
  display: inline-block;
  width: 102.47px;
  height: 41.25px;
}
.userManagement {
  top: 70px;
  width: 169.43px;
}
.bettingTipsManagement,
.contentManagement,
.reportsAndAnalytics,
.subscriptionManagement {
  position: absolute;
  top: 137px;
  left: 50px;
  display: inline-block;
  width: 243.49px;
  height: 41.25px;
  cursor: pointer;
}
.bettingTipsManagement,
.contentManagement,
.reportsAndAnalytics {
  top: 208px;
  left: 47px;
  width: 202.91px;
}
.bettingTipsManagement,
.reportsAndAnalytics {
  top: 274px;
  left: 50px;
  width: 235.37px;
}
.reportsAndAnalytics {
  top: 340px;
  width: 198.85px;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2,
.vectorIcon3,
.vectorIcon4,
.vectorIcon5 {
  position: absolute;
  height: 5.1%;
  width: 8.52%;
  top: 0.52%;
  right: 90.46%;
  bottom: 94.38%;
  left: 1.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1,
.vectorIcon2,
.vectorIcon3,
.vectorIcon4,
.vectorIcon5 {
  height: 5.25%;
  top: 18.36%;
  bottom: 76.39%;
}
.vectorIcon2,
.vectorIcon3,
.vectorIcon4,
.vectorIcon5 {
  height: 4.59%;
  top: 72.92%;
  right: 91.14%;
  bottom: 22.49%;
  left: 0.34%;
}
.vectorIcon3,
.vectorIcon4,
.vectorIcon5 {
  height: 6.56%;
  width: 7.45%;
  top: 53.25%;
  right: 91.52%;
  bottom: 40.2%;
  left: 1.02%;
}
.vectorIcon4,
.vectorIcon5 {
  height: 4.92%;
  width: 8.52%;
  top: 89.7%;
  right: 91.48%;
  bottom: 5.38%;
  left: 0;
}
.vectorIcon5 {
  height: 5.1%;
  top: 36.46%;
  right: 90.46%;
  bottom: 58.44%;
  left: 1.02%;
}
.navbar {
  position: absolute;
  top: 189px;
  left: 32px;
  width: 293.49px;
  height: 381.25px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.header,
.image4Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 332px;
  height: 1024px;
}
.image4Icon {
  top: 35px;
  left: 1337px;
  border-radius: var(--br-7xl);
  width: 57px;
  height: 57px;
  object-fit: cover;
}
.customerSupport {
  position: absolute;
  top: 49px;
  left: 580px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  width: 315px;
  height: 41px;
}
.bwkCopyright {
  position: absolute;
  top: 961px;
  left: 94px;
  font-size: var(--font-size-smi);
  color: var(--color-gainsboro-100);
}
.adminCsPageChild {
  position: absolute;
  top: 127px;
  left: 362px;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-400);
  width: 1055px;
  height: 876px;
}
.adminCsPageInner,
.adminCsPageItem {
  position: absolute;
  border-radius: var(--br-21xl);
}
.adminCsPageItem {
  top: 168px;
  left: 392px;
  background-color: var(--color-gainsboro-100);
  width: 982px;
  height: 793px;
}
.adminCsPageInner {
  top: 186px;
  left: 409px;
  background-color: #bdbcbc;
  width: 319px;
  height: 757px;
}
.adminCsPageChild1,
.adminCsPageChild2,
.rectangleDiv {
  position: absolute;
  top: 186px;
  left: 758px;
  border-radius: var(--br-21xl);
  background-color: var(--color-silver-100);
  width: 579px;
  height: 123px;
}
.adminCsPageChild1,
.adminCsPageChild2 {
  top: 856px;
  height: 65px;
}
.adminCsPageChild2 {
  top: 698px;
  width: 291px;
  height: 59px;
}
.adminCsPageChild3,
.adminCsPageChild4,
.adminCsPageChild5,
.adminCsPageChild6,
.adminCsPageChild7,
.adminCsPageChild8 {
  position: absolute;
  top: 766px;
  left: 1031px;
  border-radius: var(--br-21xl);
  background-color: var(--color-silver-100);
  width: 306px;
  height: 59px;
}
.adminCsPageChild4,
.adminCsPageChild5,
.adminCsPageChild6,
.adminCsPageChild7,
.adminCsPageChild8 {
  top: 630px;
}
.adminCsPageChild5,
.adminCsPageChild6,
.adminCsPageChild7,
.adminCsPageChild8 {
  top: 474px;
  left: 758px;
  width: 291px;
}
.adminCsPageChild6,
.adminCsPageChild7,
.adminCsPageChild8 {
  top: 326px;
}
.adminCsPageChild7,
.adminCsPageChild8 {
  top: 542px;
  left: 1031px;
  width: 306px;
}
.adminCsPageChild8 {
  top: 406px;
}
.admin {
  color: var(--color-orange);
}
.welcomeAdmin {
  position: absolute;
  top: 55px;
  left: 1203px;
  font-size: var(--font-size-xs);
  display: inline-block;
  width: 120px;
  height: 18px;
  color: var(--color-black);
}
.adminCsPage {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-18xl);
  color: var(--color-orange);
  font-family: var(--font-poppins);
}
