
.showForLast{
  outline: none;
  border-radius: 1rem;
  padding: 0.3rem 0.4rem;
  background: var(--color-gainsboro-100);
  font-family: var(--font-poppins);
}

.content{
  display: flex;
  overflow-x: auto;
  flex-flow: row nowrap;
  gap: 1rem;
  padding: 0.5rem 0;
}

.content::-webkit-scrollbar{
  margin-top: 0.5rem;
  height: 5px;
}

.content::-webkit-scrollbar-track{
  background: var(--color-gainsboro-100 );
  border-radius: 5px;
}

.content::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: var(--color-darkgray);
}

.content span{
  background-color: var(--color-gainsboro-100);
  min-height: 150px;
  min-width: 150px;
}