.image4Icon {
  position: absolute;
  top: 35px;
  left: 1337px;
  width: 57px;
  height: 57px;
  object-fit: cover;
  cursor: pointer;
}
.headerChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-300);
  width: 332px;
  height: 1024px;
}
.betWiseKenya,
.bwk {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 279px;
  height: 61.41px;
}
.betWiseKenya {
  top: 47.5px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  width: 138.99px;
  height: 31.28px;
}
.dashboard,
.logo,
.userManagement {
  position: absolute;
  top: 23px;
  left: 34px;
  width: 279px;
  height: 78.79px;
  cursor: pointer;
}
.dashboard,
.userManagement {
  top: 0;
  left: 50px;
  display: inline-block;
  width: 102.47px;
  height: 41.25px;
}
.userManagement {
  top: 70px;
  width: 169.43px;
}
.bettingTipsManagement,
.contentManagement,
.reportsAndAnalytics,
.subscriptionManagement {
  position: absolute;
  top: 137px;
  left: 50px;
  display: inline-block;
  width: 243.49px;
  height: 41.25px;
  cursor: pointer;
}
.bettingTipsManagement,
.contentManagement,
.reportsAndAnalytics {
  top: 208px;
  left: 47px;
  width: 202.91px;
}
.bettingTipsManagement,
.reportsAndAnalytics {
  top: 274px;
  left: 50px;
  width: 235.37px;
}
.reportsAndAnalytics {
  top: 340px;
  color: var(--color-orange);
  width: 198.85px;
}
.vectorIcon {
  height: 5.1%;
  top: 0.52%;
  right: 90.46%;
  bottom: 94.38%;
  left: 1.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  width: 8.52%;
}
.vectorIcon1 {
  height: 5.25%;
  top: 18.36%;
  right: 90.46%;
  bottom: 76.39%;
  left: 1.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon2 {
  height: 4.59%;
  top: 72.92%;
  right: 91.14%;
  bottom: 22.49%;
  left: 0.34%;
}
.vectorIcon2,
.vectorIcon3,
.vectorIcon4,
.vectorIcon5 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon3 {
  position: absolute;
  height: 6.56%;
  width: 7.45%;
  top: 53.25%;
  right: 91.52%;
  bottom: 40.2%;
  left: 1.02%;
}
.vectorIcon4,
.vectorIcon5 {
  width: 8.52%;
}
.vectorIcon4 {
  position: absolute;
  height: 4.92%;
  top: 89.7%;
  right: 91.48%;
  bottom: 5.38%;
  left: 0;
}
.vectorIcon5 {
  height: 5.1%;
  top: 36.46%;
  right: 90.46%;
  bottom: 58.44%;
  left: 1.02%;
}
.header,
.navbar,
.vectorIcon5 {
  position: absolute;
}
.navbar {
  top: 189px;
  left: 32px;
  width: 293.49px;
  height: 381.25px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.header {
  top: 0;
  left: 0;
  width: 332px;
  height: 1024px;
  font-size: var(--font-size-18xl);
}
.reportsAndAnalytics1 {
  position: absolute;
  top: 47px;
  left: 616px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  width: 348px;
  height: 41px;
  cursor: pointer;
}
.bwkCopyright {
  position: absolute;
  top: 961px;
  left: 94px;
  font-size: var(--font-size-smi);
  color: var(--color-gainsboro-100);
}
.adminReportsPageChild {
  position: absolute;
  top: 127px;
  left: 362px;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-400);
  width: 1055px;
  height: 876px;
}
.revenue,
.subscriptions,
.users,
.websiteVisits {
  position: absolute;
  top: 178px;
  left: 611px;
  display: inline-block;
  width: 109px;
  height: 41px;
  cursor: pointer;
}
.revenue,
.subscriptions,
.websiteVisits {
  top: 177px;
  left: 1051px;
  width: 237px;
}
.revenue,
.websiteVisits {
  top: 576px;
  left: 538px;
  width: 252px;
}
.revenue {
  left: 1091px;
  width: 146px;
}
.vectorIcon6 {
  position: absolute;
  height: 80.65%;
  width: 78.13%;
  top: 19.35%;
  right: 21.87%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notNumChild {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  background-color: var(--color-red);
  width: 16px;
  height: 16px;
}
.b,
.notNum,
.notification {
  position: absolute;
  top: 0;
  width: 17px;
  height: 17px;
}
.b {
  left: 0;
  display: inline-block;
}
.notNum,
.notification {
  left: 11px;
}
.notification {
  height: 3.03%;
  width: 1.94%;
  top: 4.69%;
  right: 10.14%;
  bottom: 92.29%;
  left: 87.92%;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.image6Icon,
.image7Icon,
.image8Icon,
.image9Icon {
  position: absolute;
  top: 226px;
  left: 430px;
  border-radius: var(--br-45xl);
  width: 478px;
  height: 339px;
  object-fit: cover;
}
.image7Icon,
.image8Icon,
.image9Icon {
  top: 231px;
  left: 925px;
}
.image8Icon,
.image9Icon {
  top: 628px;
  left: 421px;
}
.image9Icon {
  top: 633px;
  left: 916px;
}
.filterChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  width: 227px;
  height: 33px;
}
.filterItem,
.showingForLast {
  position: absolute;
  top: 11.32px;
  left: 203.27px;
  width: 17.5px;
  height: 11.19px;
}
.showingForLast {
  top: 6px;
  left: 19px;
  display: inline-block;
  width: 162px;
  height: 21px;
  cursor: pointer;
}
.filter {
  position: absolute;
  top: 140px;
  left: 772px;
  width: 227px;
  height: 33px;
  font-size: var(--font-size-smi);
  color: var(--color-black);
}
.admin {
  color: var(--color-orange);
}
.welcomeAdmin {
  position: absolute;
  top: 57px;
  left: 1124px;
  font-size: var(--font-size-xs);
  display: inline-block;
  width: 120px;
  height: 18px;
  color: var(--color-black);
}
.adminReportsPage {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-orange);
  font-family: var(--font-poppins);
}
