.formContainer{
  position: relative;
  padding: 0 10%;
  height: 600px;
  margin: 1rem 0;
  font-family: var(--font-poppins);
  
}

.formImg{
  border-radius: 2.5rem;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.form{
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.7rem;
  width: 40%;
  padding: 2rem;
  max-width: 450px; 
  border-radius: 2.5rem;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  background: #ffffffe7;
}

.form h1{
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-orange);
}

.form h1, 
.complaintText{
  margin: 0;
}

.inputlabel,
.complaintText{
  display: flex;
  flex-flow: column nowrap;
  font-size: var(--font-size-sm);
  gap: 0.3rem;
}

.input{
  outline: none; 
  height: 2.2rem;
  background: none;
  padding: 0 0.9rem;
  border-radius: 0.4rem;
  box-sizing: border-box;
  border: 1px solid var(--color-orange);
}

.input::placeholder{
  font-family: var(--font-poppins);
}

.inputArea{
  height: 100px;
  resize: none;
  padding: 0.5rem 0.9rem;
}

.complaintText{
  text-align: justify;
  color: var(--color-dimgray-100);
}

.buttonContainer{
  margin-top: 0.6rem;
  text-align: center;
}

.submit{
  padding: 0.6rem 1.5rem;
  font-weight: bolder;
  border: 2px solid var(--color-orange);
  border-radius: 1.5rem;
  color: var(--color-white);
  font-size: var(--font-size-sm);
  background: var(--color-orange);
  font-family: var(--font-poppins);
  cursor: pointer;
}
.submit:hover{

  background: var(--color);
  color: var(--color-orange);
}

@media screen and (max-width: 1120px) {
  .formContainer{
    padding: 0 5%
  }
}

@media screen and (max-width: 920px) {
  .form{
    width: 80%;
    padding: 2rem 1rem;
  }
}