.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 100px;
  height: 35px;
}
.logout {
  position: absolute;
  top: 2.13px;
  left: 20px;
  display: inline-block;
  width: 75px;
  height: 21.88px;
}
.vectorParent {
  position: absolute;
  top: 51px;
  left: 1023px;
  width: 100px;
  height: 35px;
  cursor: pointer;
}
.betWiseKenya,
.bwk {
  position: absolute;
  left: 0;
}
.bwk {
  top: 0;
  display: inline-block;
  width: 275px;
  height: 53px;
}
.betWiseKenya {
  top: 41px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.home,
.liveScore,
.logo,
.subscriptions {
  position: absolute;
  left: 0;
  cursor: pointer;
}
.logo {
  top: 0;
  width: 275px;
  height: 68px;
}
.home,
.liveScore,
.subscriptions {
  top: 1px;
}
.liveScore,
.subscriptions {
  left: 93px;
}
.liveScore {
  top: 0;
  left: 254px;
}
.header,
.navbar {
  position: absolute;
  top: 27px;
  left: 463px;
  width: 344px;
  height: 28px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.header {
  top: 28px;
  left: 85px;
  width: 807px;
  height: 68px;
  font-size: var(--font-size-18xl);
  color: var(--color-orange);
}
.image3Icon,
.image4Icon {
  position: absolute;
  object-fit: cover;
}
.image4Icon {
  top: 36px;
  left: 1237px;
  border-radius: var(--br-7xl);
  width: 57px;
  height: 57px;
  cursor: pointer;
}
.image3Icon {
  top: 217px;
  left: 97px;
  border-radius: var(--br-21xl);
  width: 1259px;
  height: 748px;
}
.loginFormChild,
.loginFormItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-54xl);
  background-color: var(--color-gray-300);
  width: 590px;
  height: 639px;
}
.loginFormItem {
  top: 277px;
  left: 49px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-orange);
  box-sizing: border-box;
  width: 500px;
  height: 98px;
}
.description {
  top: 242px;
}
.description,
.loginFormInner,
.subject {
  position: absolute;
  left: 49px;
}
.loginFormInner {
  top: 172px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-300);
  border: 1px solid var(--color-orange);
  box-sizing: border-box;
  width: 500px;
  height: 50px;
}
.subject {
  top: 135px;
}
.describeYourIssue,
.summarizeWhatHappened {
  position: absolute;
  top: 182px;
  left: 71px;
  font-size: var(--font-size-lgi);
  color: var(--color-darkgray);
}
.describeYourIssue {
  top: 287px;
}
.submitYourComplaint {
  position: absolute;
  top: 383px;
  left: 62px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  display: inline-block;
  width: 552px;
}
.or {
  margin: 0;
}
.orReachUsContainer {
  position: absolute;
  top: 496px;
  left: 210px;
  color: var(--color-dimgray-100);
  text-align: center;
  display: inline-block;
  width: 146px;
}
.loginChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-orange);
  width: 195px;
  height: 60px;
}
.submit {
  position: absolute;
  top: 16px;
  left: 63px;
}
.login,
.support {
  position: absolute;
  cursor: pointer;
}
.login {
  top: 428px;
  left: 186px;
  width: 195px;
  height: 60px;
  color: var(--color-white);
}
.support {
  top: 31px;
  left: 197px;
  font-size: var(--font-size-29xl);
  color: var(--color-orange);
}
.groupIcon {
  position: absolute;
  height: 6.57%;
  width: 51.3%;
  top: 88.89%;
  right: 28.18%;
  bottom: 4.54%;
  left: 20.52%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.loginForm {
  position: absolute;
  top: 273px;
  left: 421px;
  width: 614px;
  height: 639px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.customerSupportPage {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 1184px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
