.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 100px;
  height: 35px;
}
.logout1 {
  margin: 0;
}
.logout {
  position: absolute;
  top: 2.13px;
  left: 20px;
  display: inline-block;
  width: 75px;
  height: 21.88px;
}
.vectorParent {
  position: absolute;
  top: 51px;
  left: 1023px;
  width: 100px;
  height: 35px;
  cursor: pointer;
  color: var(--color-white);
}
.betWiseKenya,
.bwk {
  position: absolute;
  left: 0;
}
.bwk {
  top: 0;
  display: inline-block;
  width: 275px;
  height: 53px;
}
.betWiseKenya {
  top: 41px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.home,
.logo,
.subscriptions {
  position: absolute;
  left: 0;
  cursor: pointer;
}
.logo {
  top: 0;
  width: 275px;
  height: 68px;
}
.home,
.subscriptions {
  top: 1px;
}
.subscriptions {
  left: 93px;
}
.liveScore {
  top: 0;
  left: 254px;
  color: var(--color-orange);
  cursor: pointer;
}
.header,
.liveScore,
.navbar {
  position: absolute;
}
.navbar {
  top: 27px;
  left: 463px;
  width: 344px;
  height: 28px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.header {
  top: 28px;
  left: 85px;
  width: 807px;
  height: 68px;
  font-size: var(--font-size-18xl);
}
.image4Icon,
.liveScore1 {
  position: absolute;
  cursor: pointer;
}
.image4Icon {
  top: 36px;
  left: 1237px;
  width: 57px;
  height: 57px;
  object-fit: cover;
}
.liveScore1 {
  top: 153px;
  left: 597px;
  font-size: var(--font-size-29xl);
}
.customerLivescorePageChild {
  position: absolute;
  top: 261px;
  left: 129px;
  border-radius: 117px;
  background-color: var(--color-gainsboro-100);
  width: 1165px;
  height: 820px;
}
.liveScoreWill {
  position: absolute;
  top: 609px;
  left: 462px;
  font-size: 41px;
  color: var(--color-black);
  cursor: pointer;
}
.customerLivescorePage {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 1184px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-orange);
  font-family: var(--font-poppins);
}
