.homeTop { 
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  width: 95%;
  height: 510px;
  font-size: var(--font-size-44xl);
  color: var(--color-white);
}
.homDescription{
  margin: 10rem auto;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 60%;
  border: 1px solid orange;
}
.image1Icon {
  border-radius: var(--br-xl);
  width: 100%;
  height: 510px;
  object-fit: cover;
  filter: brightness(50%);
}
.welcomeToBetContainer {
  justify-content: center;
  position: relative;
  left: 0%;
  top: -70%;
  text-align: center;
  font-family: var(--font-magra);
}
.customerName {
  position: relative;
  top: -50%;
  left: 40%;
  font-size: var(--font-size-lgi);
}

.tips {
  position: relative;
  margin-top: 0.4rem;
  display: inline-block;
  width: 120.72px;
  height: 23px;
}

.vectorParent {
  position: relative;
  background-color: #FF9900;
  border: 2px solid #FF9900;
  border-radius: 40px;
  top: -10rem;
  left: -35%;
  width: 10%;
  height: 40px;
  font-size: var(--font-size-lg);
  cursor: pointer;
}
.vectorParent:hover{
  background-color: #e68a00;
  border: 2px solid #e68a00;

}

.image2Icon {
  position: relative;
  left: 70%;
  width: 276px;
  height: 500px;
  object-fit: cover;
}
.betWiseKenya {
  color: var(--color-gold);
}
.postedTipsWill {
  position: relative;
  top: 0;
  left: 0;
  font-family: var(--font-magra);
}

.viewLatestTips{
  position: relative;
  top:5px;
  left: 29.38px;
  display: inline-block;
  width: 117.5px;
  height: 24.82px;
}
.vectorGroup {
  position: relative;
  background-color: #FF9900;
  border-radius: 40px;
  top: 430px;
  left: 616px;
  width: 147px;
  height: 41px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  cursor:pointer;
}
.vectorGroup:hover{
  background-color: #e68a00;
}
.welcomeToOur {
  margin: 0;
}
.welcomeToOurContainer {
  position: relative;
  top: 82px;
  left: 5px;
  font-size: var(--font-size-lgi);
  display: inline-block;
  width: 70%;
}



@media (min-width: 993px) and (max-width: 1192px){
   
}
@media (min-width: 741px) and (max-width: 992px){
  
  
} 
@media (min-width: 200px) and (max-width: 740px) {
  
}