.willGetYou,
.orReachUs{
  font-size: var(--font-size-smi);
  text-align: center;
}


.reachUsOnLinks{
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.reachUsOnLinks a{
  cursor: pointer;
}

.reachUsOnImg{
  width: var(--font-size-18xl);
  height: var(--font-size-18xl);
}