.bwk {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 92px;
  height: 53px;
}
.betWiseKenya,
.logo {
  position: absolute;
  width: 143.48px;
}
.betWiseKenya {
  top: 41px;
  left: 0;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  display: inline-block;
}
.logo {
  top: 37px;
  left: 21px;
  height: 68px;
  font-size: var(--font-size-18xl);
  color: var(--color-orange);
}
.bwkCopyright {
  position: absolute;
  top: 189px;
  left: 627px;
}
.facebook,
.linksIcon {
  position: absolute;
  overflow: hidden;
}
.facebook {
  top: 92.24px;
  left: 716.01px;
  background-color: var(--color-gray-400);
  width: 25px;
  height: 25px;
}
.linksIcon {
  height: 15.32%;
  width: 14.02%;
  top: 59.57%;
  right: 44.31%;
  bottom: 25.11%;
  left: 41.67%;
  max-width: 100%;
  max-height: 100%;
}
.footorChild {
  position: absolute;
  top: 115px;
  left: 36px;
  width: 1354px;
  height: 2px;
}
.contactUs {
  margin: 0;
}
.contactUsEmailContainer {
  position: absolute;
  top: 48px;
  left: 1254px;
}
.browseSiteHomeContainer {
  position: absolute;
  top: 64px;
  left: 446px;
}
.footor {
  position: relative;
  background-color: var(--color-gainsboro-400);
  width: 100%;
  height: 235px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
