.image3Icon {
  position: absolute;
  top: 177px;
  left: 108px;
  border-radius: var(--br-21xl);
  width: 1259px;
  height: 748px;
  object-fit: cover;
}
.betWiseKenya,
.bwk {
  position: absolute;
  left: 0;
}
.bwk {
  top: 0;
  display: inline-block;
  width: 275px;
  height: 53px;
}
.betWiseKenya {
  top: 41px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.home,
.logo {
  position: absolute;
  top: 0;
  left: 0;
}
.logo {
  width: 275px;
  height: 68px;
}
.home {
  cursor: pointer;
}
.liveScore,
.smsBetting,
.subscriptions,
.webBetting {
  position: absolute;
  top: 0;
  left: 93px;
  cursor: pointer;
}
.liveScore,
.smsBetting,
.webBetting {
  left: 254px;
}
.liveScore,
.webBetting {
  left: 398px;
}
.liveScore {
  left: 547px;
}
.contactUs {
  top: 0;
  left: 676px;
  cursor: pointer;
}
.contactUs,
.header,
.navbar {
  position: absolute;
}
.navbar {
  top: 27px;
  left: 233px;
  width: 776px;
  height: 27px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.header {
  top: 28px;
  left: 85px;
  width: 1009px;
  height: 68px;
}
.loginFormChild,
.loginFormItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-54xl);
  background-color: var(--color-gray-300);
  width: 590px;
  height: 482px;
}
.loginFormItem {
  top: 176px;
  left: 56px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-300);
  border: 1px solid var(--color-orange);
  box-sizing: border-box;
  width: 500px;
  height: 50px;
}
.passwordReset,
.phoneNumberOr {
  position: absolute;
  top: 139px;
  left: 56px;
}
.passwordReset {
  top: 60px;
  left: 164px;
  font-size: var(--font-size-13xl);
}
.passwordReset,
.registerNow {
  color: var(--color-orange);
}
.login,
.notRegisteredYetContainer {
  position: absolute;
  top: 359px;
  left: 162px;
  font-size: var(--font-size-base);
  cursor: pointer;
}
.login {
  top: 226px;
  left: 501px;
  color: var(--color-orange);
}
.registeredEmailOr {
  position: absolute;
  top: 186px;
  left: 78px;
  font-size: var(--font-size-lgi);
  color: var(--color-darkgray);
}
.loginChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-orange);
  width: 195px;
  height: 60px;
}
.submitRequest {
  position: absolute;
  top: 16px;
  left: 31px;
}
.login1,
.loginForm {
  position: absolute;
  top: 257px;
  left: 196px;
  width: 195px;
  height: 60px;
  color: var(--color-white);
}
.loginForm {
  top: 310px;
  left: 443px;
  width: 590px;
  height: 482px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.forgotPassword {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-18xl);
  color: var(--color-orange);
  font-family: var(--font-poppins);
}
