.loginform{
  gap: 1rem !important;
}

.keepSignedIn,
.registerNow{
  display: flex;
  font-size: var(--font-size-sm);
}
.keepSignedIn{
  justify-content: space-between;
  cursor: pointer;
}

.registerNow{
  justify-content: center;
}

.loginlink1{
  color: var(--color-orange);
}