.formContainer{
  padding: 0 !important;
}

.signupContainer{
  margin: 0 auto;
  padding: 5%;
  border-radius: 2.5rem;
  overflow: hidden;
  background: url('/public/image-31@2x.png');
  background-position: center;
  background-size: cover;
  display: flex;
  width: 80%;
}

.signupleft,
.signupright{
  width: 50%;
}

.form{
  display: flex;
  flex-flow: column nowrap;
  gap: 0.7rem;
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
  max-width: 450px; 
  border-radius: 2.5rem;
  box-sizing: border-box;
  background: #ffffffe7;
}

.form h1{
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-orange);
}

.inputInfo{
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray-100);
}

div.inputGroup{
  display: flex !important;
  gap: 0.9rem;
}

.signupInput{
  border-color: var(--color-darkgray);
}

select.signupInput{
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}

div.groupInput{
  width: 50%;
}

.termsconditions{
  display: flex;
  align-items: center;
  font-size: var(--font-size-xs);
}

.termsconditions button{
  cursor: pointer;
  border: none;
  font-family: var(--font-poppins);
  background-color: transparent;
  color: var(--color-orange);
}

.signupright{
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.textOrange{
  font-weight: bold;
  color: var(--color-orange);
}

@media screen and (max-width: 920px) {

  .formContainer{
    padding: 2rem !important;

  }
  .signupContainer{
    width: 100%;
    padding: 2rem 1rem;
    flex-flow: column-reverse nowrap;
    align-items: center;
  }

  .signupleft,
  .signupright{
    width: 100%;
    padding: 0;
    max-width: 450px;
  }

  .haveAccount{
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .form{
    padding: 2rem 1rem;
  }
  .termsconditions{
    flex-flow: column nowrap;
    align-items: flex-start;
  }
}