.smsBetting2,
.smsTipsDetails{
  font-size: xx-large;
  color: var(--color-orange);
}

.betOnTheContainer,
.smsoffer{
  position: relative;
  padding: 1rem 15%;
  width: 100%;
  text-align: center;
  object-fit: cover;
  font-family: var(--font-poppins);
}

.smsofferChild{
  width: 100%;
  max-height: 500px;
}

.smsTipsDetailsContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
}

.vectorParent{
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.joinNow{
  width: 160px;
  height: 45px;
  margin: 0 auto;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 1.4rem;
  color: var(--color-white);
  font-family: var(--font-poppins);
  background: var(--color-orange);
}

@media screen and (max-width: 1440px) {
  .betOnTheContainer,
  .smsoffer{
    padding: 1rem 10%
  }
}

@media screen and (max-width: 1024px) {
  .betOnTheContainer,
  .smsoffer{
    padding: 1rem 2rem;
  }
}
