.subscriptions2,
.whatWeAreContainer{
  font-size: xx-large;
  color: var(--color-orange);
}

.whatWeAreContainer b>span:first-child{
  color: var(--color-black);
} 

.subscriptions2,
.whatWeAreContainer,
.readyToTakeContainer{
  font-family: var(--font-poppins);
  text-align: center;
}

.readyToTakeContainer{
  padding: 0 10%;
}