.betWiseKenya,
.bwk {
  position: absolute;
  left: 0;
}
.bwk {
  top: 0;
  display: inline-block;
  width: 275px;
  height: 53px;
}
.betWiseKenya {
  top: 41px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.logo,
.signupChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 68px;
}
.signupChild {
  border-radius: var(--br-xl);
  width: 118.57px;
  height: 38px;
}
.signUp {
  position: absolute;
  top: 4.6px;
  left: 42.87px;
  display: inline-block;
  width: 75.69px;
  height: 16.04px;
}
.loginChild,
.signup {
  position: absolute;
  top: 0px;
  border: 2px solid #FF9900;
  border-radius: 40px;
  left: 55px;
  width: 118.57px;
  height: 38px;
}
.loginChild {
  left: 0;
  border-radius: var(--br-xl);
  width: 95.08px;
}
.login1 {
  position: absolute;
  top: 5.91px;
  left: 19.38px;
  display: inline-block;
  width: 56.31px;
  height: 22.8px;
}
.login,
.loginsignup {
  position: absolute;
  height: 38px;
  
}
.login {
  top: 0;
  left: 0;
  width: 95.08px;
  background-color: #FF9900;
  border-radius: 40px;
  font-size: var(--font-size-mid);
  color: var(--color-white);
}
.loginsignup {
  top: 22px;
  left: 1040px;
  width: 180px;
  font-size: var(--font-size-base);
  cursor: pointer;
}
.home,
.subscriptions1 {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.subscriptions1 {
  left: 93px;
  color: var(--color-orange);
}
.contactUs,
.liveScore,
.smsBetting,
.webBetting {
  position: absolute;
  top: 0;
  left: 254px;
  cursor: pointer;
}
.contactUs,
.liveScore,
.webBetting {
  left: 398px;
}
.contactUs,
.liveScore {
  left: 547px;
}
.contactUs {
  left: 676px;
}
.header,
.navbar {
  position: absolute;
  top: 27px;
  left: 233px;
  width: 776px;
  height: 27px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.header {
  top: 28px;
  left: 85px;
  width: 1271px;
  height: 68px;
  font-size: var(--font-size-18xl);
  color: var(--color-orange);
}
.subscriptions2 {
  position: absolute;
  top: 153px;
  left: 543px;
  cursor: pointer;
}
.offering,
.subscriptions2 {
  color: var(--color-orange);
}
.whatWeAreContainer {
  position: absolute;
  top: 648px;
  left: 453px;
  cursor: pointer;
}
.readyToTake {
  margin: 0;
}
.readyToTakeContainer {
  position: absolute;
  top: 254px;
  left: 148px;
  font-size: var(--font-size-5xl);
  text-align: center;
  display: inline-block;
  width: 1131px;
}
.image5Icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  width: 1058px;
  height: 1195px;
  object-fit: cover;
}
.smsTipsOnly {
  position: absolute;
  top: 151px;
  left: 743px;
}
.smswebTips,
.smswebTips1,
.smswebTips2 {
  position: absolute;
  top: 394px;
  left: 743px;
}
.smswebTips1,
.smswebTips2 {
  top: 736px;
}
.smswebTips2 {
  top: 997px;
}
.btts {
  margin-bottom: 0;
}
.bronzeOneDayContainer {
  position: absolute;
  top: 58px;
  left: 34px;
  white-space: pre-wrap;
  display: inline-block;
  width: 288px;
  height: 195px;
}
.offer,
.price,
.type {
  position: absolute;
  top: 0;
  left: 106px;
  display: inline-block;
  width: 54px;
  height: 33.13px;
}
.offer,
.price {
  left: 426px;
  width: 64px;
}
.offer {
  left: 714px;
  width: 68px;
}
.vectorIcon {
  position: absolute;
  height: 9.92%;
  width: 3.2%;
  top: 23.02%;
  right: 96.8%;
  bottom: 67.06%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ksh100KshContainer {
  position: absolute;
  top: 91px;
  left: 426px;
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 83.33px;
}
.bronze,
.silverSevenDaysContainer {
  position: absolute;
  font-size: var(--font-size-3xl);
}
.bronze {
  top: 9px;
  left: 61px;
  width: 782px;
  height: 253px;
}
.silverSevenDaysContainer {
  top: 1px;
  left: 34px;
  white-space: pre-wrap;
  display: inline-block;
  width: 498px;
}
.vectorIcon1 {
  position: absolute;
  height: 10.04%;
  width: 3.03%;
  top: 0;
  right: 96.97%;
  bottom: 89.96%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ksh600KshContainer,
.onceAWeek,
.onceAWeek1 {
  position: absolute;
  top: 32px;
  left: 426px;
  display: inline-block;
  width: 83.33px;
}
.onceAWeek,
.onceAWeek1 {
  top: 194px;
  left: 667px;
  width: 157px;
}
.onceAWeek1 {
  top: 221px;
}
.silver {
  position: absolute;
  top: 302px;
  left: 61px;
  width: 824px;
  height: 249px;
}
.x2Ov15un15Ov25un25B {
  margin: 0;
  font-size: var(--font-size-lg);
  padding-left: var(--padding-5xl);
}
.gold14DaysContainer {
  position: absolute;
  top: 0;
  left: 37.04px;
  display: inline-block;
  width: 273.65px;
  font-size: var(--font-size-3xl);
}
.ksh1000KshContainer,
.onceAWeek2,
.onceAWeek3 {
  position: absolute;
  top: 31px;
  left: 426px;
  display: inline-block;
  width: 83.33px;
}
.onceAWeek2,
.onceAWeek3 {
  top: 194px;
  left: 686.18px;
  width: 136.82px;
}
.onceAWeek3 {
  top: 221px;
}
.vectorIcon2 {
  position: absolute;
  height: 10.08%;
  width: 3.13%;
  top: 0;
  right: 96.87%;
  bottom: 89.92%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gold {
  position: absolute;
  top: 645px;
  left: 61px;
  width: 823px;
  height: 248px;
}
.ksh3000KshContainer {
  position: absolute;
  top: 31px;
  left: 402px;
  display: inline-block;
  width: 83.33px;
}
.vip2 {
  font-size: var(--font-size-3xl);
  font-family: var(--font-poppins);
}
.weekly14Days30Days {
  margin: 0;
  padding-left: var(--padding-5xl);
}
.vipWeekly14Container {
  position: absolute;
  top: 0;
  left: 34px;
  display: inline-block;
  width: 335px;
}
.vectorIcon3 {
  position: absolute;
  height: 9.05%;
  width: 5.15%;
  top: 1.81%;
  right: 94.85%;
  bottom: 89.14%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vip {
  position: absolute;
  top: 933px;
  left: 85px;
  width: 485.33px;
  height: 221px;
}
.atLeast150,
.subscriptionOptions {
  position: absolute;
  font-size: var(--font-size-lg);
}
.subscriptionOptions {
  top: 754px;
  left: 179px;
  width: 1058px;
  height: 1195px;
}
.atLeast150 {
  top: 1826px;
  left: 818px;
  display: inline-block;
  width: 335px;
}
.subscriptions {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 2025px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
