.subscriptions2,
.whatWeAreContainer{
  font-size: xx-large;
  color: var(--color-orange);
}

.whatWeAreContainer b>span:first-child{
  color: var(--color-black);
} 

.subscriptions2,
.whatWeAreContainer,
.readyToTakeContainer{
  font-family: var(--font-poppins);
  text-align: center;
}

.readyToTakeContainer{
  padding: 0 15%;
}

@media screen and (max-width: 1440px) {
  .readyToTakeContainer{
    padding: 1rem 10%
  }
}

@media screen and (max-width: 1024px) {
  .readyToTakeContainer{
    padding: 1rem 2rem;
  }
}
