.adminLayout {
  width: 100%;
  height: 100vh;
  font-family: var(--font-poppins);
}

.adminHeader,
.adminOptions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.adminContent,
.adminHeader{
  box-sizing: border-box;
  padding:  1rem;
}

.adminHeader {
  height: 80px;
  justify-content: space-between;
}

.adminContent{
  overflow-x: hidden ;
  overflow-y: auto;
  width: calc(100vw - 270px);
  height: calc(100vh - 80px);
}

.content{
  padding: 1.5rem;
  background: var(--color-gainsboro-200);
  border-radius: 1.5rem ;
}

.pageTitle {
  font-size: var(--font-size-7xl);
  padding-left: 1rem;
}

.welcome {
  font-size: var(--font-size-xs);
}

.pageTitle,
.welcome span,
.notifications {
  color: var(--color-orange);
  font-weight: 600;
}

.notifications input{
  display: none;
}

.support {
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 50%;
}

.supportImg {
  width: 100%;
  height: 100%;
}
