.Unavail{
    display: none;

}   
.Unavail h1{
    display: none;
}
.Header{
    display: none;
}
.Footer{
    display: none;
}
@media (min-width: 1021px){
    .Unavail{
        display: none;
    
    }   
    .Unavail h1{
        display: none;
    }
    .Header{
        display: none;
    }
    .Footer{
        display: none;
    }
}
@media screen and (max-width: 1020px) {
    .Unavail{
        display: block;
        position: relative;
        width: 60%;
        height: 40vh;
        text-align: center;
        background-color: var(--color-dimgray-200);
    
    }   
    .Unavail h1{
        font-family: var(--font-poppins);
        color: var(--color-white);
        font-weight: 400;
    }
}