.adminSibarContainer {
  position: relative;
  width: 270px;
  min-height: 100vh;
  padding: 1rem 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
  background-color: var(--color-dimgray-200);
  height: 100%;
}

.betWiseKenya,
.sideNavlink,
.adminSidebarFoot {
  color: var(--color-white);
}

.adminSidebarLogo,
.adminSidebarFoot {
  text-align: center;
}

.bwk {
  font-size: var(--font-size-18xl);
  font-weight: 500;
  color: var(--color-orange);
  margin-left: -140px;
}

.betWiseKenya {
  font-size: small;
  margin-top: -10px;
  margin-left: -120px;
}

.sideNavigation {
  padding: 0;
  padding-left: 0.2rem;
  list-style: none;
  margin-top: 12%;
  font-size: var(--font-size-smi);
  color: var(--color-orange);
}

.sideNavlink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 2rem 0 0 2rem;
  transition: background-color 0.2s ease;
}

/* .activeLink, */
.sideNavlink:hover {
  color: var(--color-white) !important;
  background-color: var(--color-orange);
}

.adminSidebarFoot {
  color: var(--color-darkgray);
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  font-size: var(--font-size-xs);
}
