.groupChild,
.termsAndConditions {
  border-radius: var(--br-21xl);
}
.termsAndConditions1 {
  color: var(--color-orange);
}
.ourTermsAndContainer{
  text-align: center;
  font-size: var(--font-size-14xl);
}
.pleaseReadTheseContainer {
  font-size: var(--font-size-sm);
  color: var(--color-black);
  white-space: pre-wrap;
  display: inline-block;
  width: 100%;
  height: auto;
}

.vectorGroup{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.accept,
.decline{
  padding: 0.6rem 1.5rem;
  font-weight: bolder;
  border: 2px solid var(--color-orange);
  border-radius: 1.5rem;
  color: var(--color-white);
  font-size: var(--font-size-sm);
  background: var(--color-orange);
  font-family: var(--font-poppins);
  cursor: pointer;
}

.decline{
  background: none;
  color: var(--color-black);
  border: 2px solid var(--color-black);
}

.xContainer{
  text-align: right;
  padding: 0 1rem;
}

.x{
  cursor: pointer;
  border: none;
  background: none;
  font-size: var(--font-size-lgi);
  font-weight: bold;
}

.termsAndConditions {
  background-color: var(--color-gray-400);
  height: 100%;
  width: 80%;
  margin: 0 auto;
  overflow-y: auto;
  text-align: left;
  background-color: var(--color-whitesmoke-300);
  border: 4px solid var(--color-orange);
  box-sizing: border-box;
  font-size: var(--font-size-12xl);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
  padding: 1.5rem;
}

@media screen and (max-width: 500px) {
  .termsAndConditions{
    width: 97%;
  }
}
