@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Magra:wght@700&display=swap");

*,
*::after, 
*::before,
div{
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: normal;
  background: var(--color-whitesmoke-200);
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-magra: Magra;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-15xl: 34px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-mini: 15px;
  --font-size-6xl: 25px;
  --font-size-29xl: 48px;
  --font-size-mid: 17px;
  --font-size-18xl: 37px;
  --font-size-lgi: 19px;
  --font-size-3xl: 22px;
  --font-size-13xl: 32px;
  --font-size-smi: 13px;
  --font-size-11xl: 30px;
  --font-size-4xs: 9px;
  --font-size-3xs: 10px;
  --font-size-5xl: 24px;
  --font-size-19xl: 38px;
  --font-size-xl: 20px;
  --font-size-7xl: 26px;
  --font-size-44xl: 63px;
  --font-size-2xl: 21px;
  --font-size-2xs: 11px;
  --font-size-12xl: 31px;
  --font-size-5xs: 8px;
  --font-size-8xs: 5px;
  --font-size-14xl: 33px;
  --font-size-8xl: 27px;
  --font-size-23xl: 42px;

  /* Colors */
  --color-gray-100: #050505;
  --color-gray-200: #020202;
  --color-gray-400: rgba(0, 0, 0, 0);
  --color-gray-300: rgba(255, 255, 255, 0.9);
  --color-gray-500: rgba(255, 255, 255, 0);
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #ff9900;
  --color-whitesmoke-100: #f8f8f8;
  --color-whitesmoke-200: #f8f7f7;
  --color-whitesmoke-300: #ececec;
  --color-whitesmoke-400: #e9e9e9;
  --color-gainsboro-400: #e6e6e6;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-300: rgba(217, 217, 217, 0.03);
  --color-gainsboro-200: rgba(217, 217, 217, 0);
  --color-darkslategray-100: #494949;
  --color-darkslategray-200: #484848;
  --color-darkslategray-300: #3a3a3a;
  --color-dimgray-100: #606060;
  --color-dimgray-300: #595959;
  --color-dimgray-200: #545454;
  --color-darkgray: #a1a1a1;
  --color-silver-100: #c2c1c1;
  --color-red: #ea0000;
  --color-darkorange: #e78a00;
  --color-gold: #ffc700;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-2xs: 11px;

  /* border radiuses */
  --br-21xl: 40px;
  --br-112xl: 131px;
  --br-3xs: 10px;
  --br-54xl: 73px;
  --br-xl: 20px;
  --br-11xl: 30px;
  --br-7xl: 26px;
  --br-31xl: 50px;
  --br-45xl: 64px;
}
